menu "Device Drivers"

rsource "core/Kconfig"
rsource "ipc/Kconfig"

rsource "serial/Kconfig"
rsource "cputime/Kconfig"
rsource "i2c/Kconfig"
rsource "misc/Kconfig"
rsource "mtd/Kconfig"
rsource "pm/Kconfig"
rsource "rtc/Kconfig"
rsource "spi/Kconfig"
rsource "watchdog/Kconfig"
rsource "sensor/Kconfig"
rsource "graphic/Kconfig"
rsource "led/Kconfig"
rsource "block/Kconfig"
rsource "regulator/Kconfig"
rsource "reset/Kconfig"
rsource "dma/Kconfig"
rsource "pic/Kconfig"
rsource "pin/Kconfig"
rsource "ktime/Kconfig"
rsource "clk/Kconfig"
rsource "hwtimer/Kconfig"

endmenu
